<div th:fragment="footer">
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="footer-heading">Menu Links</h5>
                    <ul class="list-unstyled nav-links">
                        <li><i class="fa fa-angle-right"></i> <a href="https://ultimatewebsolutions.net/foodboard/"
                                                                 class="footer-link">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="../faq.html" class="footer-link">FAQ</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="../contacts.html" class="footer-link">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-heading">Contacts</h5>
                    <ul class="list-unstyled contact-links">
                        <li><i class="icon icon-map-marker"></i><a href="https://goo.gl/maps/vKgGyZe2JSRLDnYH6"
                                                                   class="footer-link" target="_blank">Address: Rokosovskogo, Minsk, Belarus</a>
                        </li>
                        <li><i class="icon icon-envelope3"></i><a href="mailto:info@yourdomain.com" class="footer-link">Mail:
                            kenovladz@gmail.com</a></li>
                        <li><i class="icon icon-phone2"></i><a href="tel:+3630123456789" class="footer-link">Phone:
                            +375298100125</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5 class="footer-heading">Find Us On</h5>
                    <ul class="list-unstyled social-links">
                        <li><a href="https://instagram.com" class="social-link" target="_blank"><i
                                class="icon icon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </footer>

</div>
